$btn-bg: transparent;
$btn-border: none;
$btn-outline-border: none;
$btn-focus-box-shadow: none;
$dropdown-item-min-width: 3rem;
$primary: #d8e4bc;

@import "../node_modules/bootstrap/scss/bootstrap.scss"